<div class="header">    
    <Widget WidgetZone="@PublicWidgetZones.HeaderBefore"></Widget>
    <div class="header-upper">
        <div class="header-selectors-wrapper">
            <TaxTypeSelector></TaxTypeSelector>
            <CurrencySelector></CurrencySelector>
            <LanguageSelector></LanguageSelector>
            <Widget WidgetZone="@PublicWidgetZones.HeaderSelectors"></Widget>
        </div>
        <div class="header-links-wrapper">
            <HeaderLinks></HeaderLinks>
            <FlyoutShoppingCart></FlyoutShoppingCart>
        </div>
    </div>    
    <Widget WidgetZone="@PublicWidgetZones.HeaderMiddle"></Widget>
    <div class="header-lower">
        <div class="header-logo">
            <Logo></Logo>
        </div>
        <div class="wrap-head-contact">
            <div class="header-phonenumber" style="">
                <a href="tel:+74951775749" title="Позвонить сейчас"><span>+7&nbsp;(495)&nbsp;177&nbsp;57&nbsp;49</span></a><br />
                <a href="tel:+74732123435" title="Позвонить сейчас"><span>+7&nbsp;(473)&nbsp;212&nbsp;34&nbsp;35</span></a>              
            </div>
            <div class="header-contact">
                <a href="mailto:mail@skywell.net" title="Email адрес"><span>mail@skywell.net</span></a><br>
                <a href="/контакты" title="перейти в раздел Контакты, помотреть схему проезда">
                    <span>Воронеж </span><span style="position:relative; top:-1px; font-style:italic; font-size:14px;">(<span style="text-decoration-style:dotted !important;">схема проезда</span>)</span>
                </a>
            </div>
        </div>
        <div class="search-box store-search-box">
            <SearchBox></SearchBox>
        </div>
    </div>
    <Widget WidgetZone="@PublicWidgetZones.HeaderAfter"></Widget>

</div>
