@inherits LazyLoadingSpaComponent
@inject IPollModelFactory pollModelFactory
@code{

    protected IList<PollModel> Model { get; set; }


    protected override Task DataRequest()
    {
        Model = pollModelFactory.PrepareHomePagePollModels();
        return Task.CompletedTask;
    }
}

@if (needStub)
{
    <div class="home-page-polls">
        <div class="title">
            <strong>@T("Polls.Title")</strong>
        </div>
        <LoadingStub></LoadingStub>
    </div>
}
else if (Model != null && Model.Count > 0)
{
    <div class="home-page-polls">
        <div class="title">
            <strong>@T("Polls.Title")</strong>
        </div>
        @foreach (var poll in Model)
        {
            <_Poll Model="@poll" />
        }
    </div>
}