@inject IJSRuntime jsRuntime
@code{

    protected override async Task OnceOnAfterRenderAsync()
    {
        try
        {
            await jsRuntime.InvokeAsync<object>(
                "_CheckUsernameAvailability",
                Url.RouteUrl("CheckUsernameAvailability"),
                T("Account.CheckUsernameAvailability.EnterUsername").Text);
        }
        catch { }
    }
}

<input type="button" id="check-availability-button" class="button-2 check-username-availability-button" value="@T("Account.CheckUsernameAvailability.Button")" />
<span id="availability-check-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>